@model PostModel

<form asp-controller="Profile" asp-action="UploadPost" method="post" enctype="multipart/form-data">
	<div class="text-box">
		<textarea asp-for="Text" style="width:100%" placeholder="Begin write..." ></textarea>
	</div>
	<div class="image" style="display: inline">
		<input type="file"
			accept=".png, .jpg, .jpeg, .gif, .tif"
			asp-for="Image"
			style="border: 0px; padding: 0px; color: #b9b4c5" />
	</div>
	<div class="submit" style="display: inline">
		<input type="submit" value="Publish" />
	</div>
</form>