@using SocialMedia.Areas.Identity.Data
@model List<User>
@inject ProfileRepo Profile
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Website in development</h2>
    <ul>
    @foreach (var item in Model)
    {
        byte[] picture = null;

        <li>
            @if (Profile.GetUser(item.Id).Result.Picture != null)
            {
                picture = Profile.GetUser(item.Id).Result.Picture;
                <img src="data:image/*;base64, @Convert.ToBase64String(picture)" style="width:40px; height:40px; border-radius:50%; border: 1px solid black" />
            }
            <a asp-controller="Profile" asp-action="GetUser" asp-route-userId="@item.Id">@item.UserName</a>
        </li>
    }
    </ul>

</div>
