* {
    margin: 0;
    padding: 0;
}

.container-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.container-profile > div {
    background-color: #2d2e33;
}

.user {
    grid-row: 1/5
}

.info {
    grid-column: 2/4;
    grid-row: 1;
}